key: 'varother'
patterns: [
  {
    'captures':
      '1':
        'name': 'punctuation.definition.variable.shell'
    'match': '(\\$)[a-zA-Z_][a-zA-Z0-9_]*'
    'name': 'variable.other.normal.shell'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.variable.shell'
    'match': '(\\$)[-*@#?$!0_]'
    'name': 'variable.other.special.shell'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.variable.shell'
    'match': '(\\$)[1-9]'
    'name': 'variable.other.positional.shell'
  }
]
