{
  'scopeName': 'source.shell'
  'name': 'Unix She'
  'fileTypes': [
    'sh'
    'bash'
    'ksh'
    'zsh'
    'zsh-theme'
    'zshenv'
    'zlogin'
    'zlogout'
    'zprofile'
    'zshrc'
    'bashrc'
    'bash_profile'
    'bash_login'
    'profile'
    'bash_logout'
    '.textmate_init'
    'npmrc'
    'PKGBUILD'
    'install'
    'cygport'
    'bats'
    'ebuild'
  ],
  'firstLineMatch': '^#!.*\\b(bash|zsh|sh|tcsh|ksh|dash|ash|csh|rc)|(?i:^\\s*#\\s*-\\*-[^*]*mode:\\s*shell-script[^*]*-\\*-)'
  'patterns': [
    {
      'include': '#comment'
    }
    {
      'include': '#pipeline'
    }
    {
      'include': '#list'
    }
    {
      'include': '#compound-command'
    }
    {
      'include': '#loop'
    }
    {
      'include': '#function-definition'
    }
    {
      'include': '#string'
    }
    {
      'include': '#variable'
    }
    {
      'include': '#interpolation'
    }
    {
      'include': '#heredoc'
    }
    {
      'include': '#herestring'
    }
    {
      'include': '#redirection'
    }
    {
      'include': '#pathname'
    }
    {
      'include': '#keyword'
    }
    {
      'include': '#support'
    }
  ],
  "repository": {
    "patterns": [
      {
        "include": "#case-clause"
      }
      {
        "include": "#comment"
      }
      {
        "include": "#compound-command"
      }
      {
        "include": "#function-definition"
      }
      {
        "include": "#heredoc"
      }
      {
        "include": "#herestring"
      }
      {
        "include": "#interpolation"
      }
      {
        "include": "#keyword"
      }
      {
        "include": "#list"
      }
      {
        "include": "#logical-expression"
      }
      {
        "include": "#loop"
      }
      {
        "include": "#math"
      }
      {
        "include": "#pathname"
      }
      {
        "include": "#pipeline"
      }
      {
        "include": "#redirection"
      }
      {
        "include": "#string"
      }
      {
        "include": "#support"
      }
      {
        "include": "#variable"
      }
    ]
  }
}
