key: 'archives'
patterns: [
  {
    'match': '(?<![a-zA-Z0-9-])(ar|bsdtar|bzcat|bzip2|gzip|lz4|lz4c|lzcat|lz4cat|lzma|p7zip|tar|unzip|unzzipcat|xz|xzcat|zcat)(?<![a-zA-Z0-9-])'
    'name':  'support.function.archives.shell'
  }
]
