key: 'heredoc'
patterns: [
  {
    'begin': '(<<)-("|\'|)(RUBY)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.ruby.embedded.shell'
    'end': '^\\t*(RUBY)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.ruby.shell'
    'patterns': [
      {
        'include': 'source.ruby'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(RUBY)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.ruby.embedded.shell'
    'end': '^(RUBY)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.ruby.shell'
    'patterns': [
      {
        'include': 'source.ruby'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)(PYTHON)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.python.embedded.shell'
    'end': '^\\t*(PYTHON)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.python.shell'
    'patterns': [
      {
        'include': 'source.python'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(PYTHON)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.python.embedded.shell'
    'end': '^(PYTHON)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.python.shell'
    'patterns': [
      {
        'include': 'source.python'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)(APPLESCRIPT)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.applescript.embedded.shell'
    'end': '^\\t*(APPLESCRIPT)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.applescript.shell'
    'patterns': [
      {
        'include': 'source.applescript'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(APPLESCRIPT)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.applescript.embedded.shell'
    'end': '^(APPLESCRIPT)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.applescript.shell'
    'patterns': [
      {
        'include': 'source.applescript'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)(HTML)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'text.html.embedded.shell'
    'end': '^\\t*(HTML)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.html.shell'
    'patterns': [
      {
        'include': 'text.html.basic'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(HTML)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'text.html.embedded.shell'
    'end': '^(HTML)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.html.shell'
    'patterns': [
      {
        'include': 'text.html.basic'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)(MARKDOWN)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'text.html.markdown.embedded.shell'
    'end': '^\\t*(MARKDOWN)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.markdown.shell'
    'patterns': [
      {
        'include': 'text.html.markdown'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(MARKDOWN)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'text.html.markdown.embedded.shell'
    'end': '^(MARKDOWN)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.markdown.shell'
    'patterns': [
      {
        'include': 'text.html.markdown'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)(TEXTILE)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'text.html.textile.embedded.shell'
    'end': '^\\t*(TEXTILE)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.textile.shell'
    'patterns': [
      {
        'include': 'text.html.textile'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(TEXTILE)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'text.html.textile.embedded.shell'
    'end': '^(TEXTILE)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.textile.shell'
    'patterns': [
      {
        'include': 'text.html.textile'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)(SHELL)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.shell.embedded.shell'
    'end': '^\\t*(\\3)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.shell.shell'
    'patterns': [
      {
        'include': 'source.shell'
      }
    ]
  }
  {
    'begin': '(<<)("|\'|)(SHELL)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'contentName': 'source.shell.embedded.shell'
    'end': '^(\\3)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.shell.shell'
    'patterns': [
      {
        'include': 'source.shell'
      }
    ]
  }
  {
    'begin': '(<<)-("|\'|)\\\\?(\\w+)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'end': '^\\t*(\\3)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.no-indent.shell'
  }
  {
    'begin': '(<<)("|\'|)\\\\?(\\w+)\\2'
    'beginCaptures':
      '1':
        'name': 'keyword.operator.heredoc.shell'
      '3':
        'name': 'keyword.control.heredoc-token.shell'
    'captures':
      '0':
        'name': 'punctuation.definition.string.shell'
    'end': '^(\\3)\\b'
    'endCaptures':
      '1':
        'name': 'keyword.control.heredoc-token.shell'
    'name': 'string.unquoted.heredoc.shell'
  }
]
