key: 'math'
patterns: [
  {
    'include': '#variable'
  }
  {
    'match': '\\+{1,2}|-{1,2}|!|~|\\*{1,2}|/|%|<[<=]?|>[>=]?|==|!=|^|\\|{1,2}|&{1,2}|\\?|\\:|,|=|[*/%+\\-&^|]=|<<=|>>='
    'name': 'keyword.operator.arithmetic.shell'
  }
  {
    'match': '0[xX]\\h+'
    'name': 'constant.numeric.hex.shell'
  }
  {
    'match': '0\\d+'
    'name': 'constant.numeric.octal.shell'
  }
  {
    'match': '\\d{1,2}#[0-9a-zA-Z@_]+'
    'name': 'constant.numeric.other.shell'
  }
  {
    'match': '\\d+'
    'name': 'constant.numeric.integer.shell'
  }
]
